<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.yyx.modules.pms.mapper.PmsAftersaleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hl.yyx.modules.pms.model.PmsAftersale">
        <id column="id" property="id" />
        <result column="aftersale_sn" property="aftersaleSn" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="type" property="type" />
        <result column="reason" property="reason" />
        <result column="amount" property="amount" />
        <result column="pictures" property="pictures" />
        <result column="comment" property="comment" />
        <result column="status" property="status" />
        <result column="handle_time" property="handleTime" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <select id="pageList" resultType="com.hl.yyx.modules.pms.model.PmsAftersale">
        SELECT
        pas.*,
        cu.username username 
    FROM
        pms_aftersale pas
        LEFT JOIN cms_user cu ON cu.id = pas.user_id
        <where>
            <if test="paramsDTO.username != '' and paramsDTO.username != null">
                cu.username like concat('%', #{paramsDTO.username}, '%')
            </if>
            <if test="paramsDTO.afterSaleSn != '' and paramsDTO.afterSaleSn != null">
                pas.aftersale_sn like concat('%', #{paramsDTO.afterSaleSn}, '%')
            </if>
            <if test="paramsDTO.status != '' and paramsDTO.status != null">
                pas.status = #{paramsDTO.status}
            </if>
            <if test="paramsDTO.type != '' and paramsDTO.type != null">
                pas.type = #{paramsDTO.type}
            </if>
        </where>
    </select>

</mapper>
