<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.yyx.modules.cms.mapper.CmsFootprintMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hl.yyx.modules.cms.model.CmsFootprint">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="goods_id" property="goodsId" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <select id="pageList" resultType="com.hl.yyx.modules.cms.model.CmsFootprint">
        SELECT
            cf.*,
            cu.username username,
            pg.NAME goodsName,
            pg.pic_url picUrl
        FROM
            cms_footprint cf
            LEFT JOIN cms_user cu ON cu.id = cf.user_id
            LEFT JOIN pms_goods pg ON pg.id = cf.goods_id
        <where>
            <if test="paramsDTO.username != '' and paramsDTO.username != null">
                cu.username like concat('%', #{paramsDTO.username}, '%')
            </if>
            <if test="paramsDTO.goodsName != '' and paramsDTO.goodsName != ''">
                pg.name like concat('%', #{paramsDTO.goodsName}, '%')
            </if>
        </where>
    </select>

</mapper>
