<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hl.yyx.modules.cms.mapper.CmsSearchHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hl.yyx.modules.cms.model.CmsSearchHistory">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="keyword" property="keyword" />
        <result column="search_count" property="searchCount" />
        <result column="from" property="from" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>
    <select id="getAllData" resultType="com.hl.yyx.modules.cms.model.CmsSearchHistory">
         SELECT
            csh.*,
            cu.username username 
        FROM
            `cms_search_history` csh
            LEFT JOIN cms_user cu ON cu.id = csh.user_id 
        <where>
            <if test="paramsDTO.username != '' and paramsDTO.username != null">
                cu.username like concat('%', #{paramsDTO.username}, '%')
            </if>
            <if test="paramsDTO.keyword != '' and paramsDTO.keyword != null">
                csh.keyword like concat('%', #{paramsDTO.keyword}, '%')
            </if>
        </where>
        ORDER BY
        csh.update_time DESC
    </select>

</mapper>
